﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@using UBY_NewsPortal.Models.NewsViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "About";
}

<h2>Economics</h2>


<table class="table">
    <tr><th>Title</th><th>Description</th></tr>
    @foreach (News u in Model.News)
    {
        if (u.Link != null)
        {

            <tr><td> <a href=@u.Link>@u.Title</a></td></tr>
        }
        else
        {
            <tr><td>
    <a asp-action="Details" asp-route-id="@u.Id">@Html.DisplayFor(modelItem => u.Title)</a>
    <a asp-action="Details" asp-route-id="@u.Id">Details</a>
</td></tr>
        }
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="About"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="About"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}