﻿@model UBY_NewsPortal.Models.NewsViewModels.MyNews

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyNews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PubDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.Raw(Model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charter)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
