﻿@*@model IEnumerable<UBY_NewsPortal.Models.NewsViewModels.MyNews>
    @using UBY_NewsPortal.Models.NewsViewModels
    @{
        ViewData["Title"] = "Economics";
    }

    <h2>Economics</h2>
    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>

                </tr>
            }
        </tbody>
        <tbody>
            @foreach (var item in (IEnumerable<SpyNews>)ViewData["SpyNews"])
            {
                <tr>

                    <td>
                        <a href=@item.Link> @Html.DisplayFor(modelItem => item.Title)</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>*@
@using UBY_NewsPortal.Models.NewsViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Economics";
}

<h2>Economics</h2>


<table class="table">
    <tr><th>Title</th><th>Description</th></tr>
    @foreach (SpyNews u in Model.SpyNews)
    {
        <tr><td> <a href=@u.Link>@u.Title</a></td></tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Economics"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Economics"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}