﻿@using UBY_NewsPortal.Models.NewsViewModels
@{
    ViewData["Title"] = "Home Page";
}
<style>
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
        background-color: #ddd;
        height:150px;

    }

    ::-webkit-scrollbar-track {
        background-color: #aac2ce;
        height: 150px;
    }

    .lefts::-webkit-scrollbar {
        width: 10px;
        height: 2px;
        background-color: #e6e6e6;
    }

    .titler {
        padding: 0;
    }

    .titlerHeader > h3 {
        margin: 0;
        border: 0;
        line-height: 55px;
        padding-left: 15px;
    }

    .titlerHeader {
        height: 55px;
        border: 0;
        background-color: #d4d4d4;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#D4D4D4),to(#A7C1CE));
        background-image: -webkit-linear-gradient(top,#D4D4D4,#A7C1CE);
        background-image: -moz-linear-gradient(top,#D4D4D4,#A7C1CE);
        background-image: -ms-linear-gradient(top,#D4D4D4,#A7C1CE);
        background-image: -o-linear-gradient(top,#D4D4D4,#A7C1CE);
        background-image: linear-gradient(top,#D4D4D4,#A7C1CE);
        background-image: linear-gradient(top,#D4D4D4,#A7C1CE);
    }

    .lefts > a {
        display: block;
        text-decoration: none;
        padding: 10px;
        text-shadow: 1px 1px 0 #fff;
        border-bottom: 1px solid #b2b2b2;
        box-shadow: 0 1px 0 1px rgba(255,255,255,.65);
        transition: all .5s ease;
        background: #f5f5f5;
    }

    .lefts {
        width: 100%;
        height: 100%;
        border-bottom: 1px inset #aac2ce;
        overflow: auto;
    }

    img {
        width: 50%;
    }

    .section {
        border-bottom: 1px inset #66f;
    }
</style>

@*<div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{int i = 0;}
        @foreach (var item in (IEnumerable<SpyNews>)ViewData["SpyNews"])
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="item @active">
                <a href=@item.Link> @Html.Raw(item.Description)</a>
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

<div style="margin:5px 0 0 0;" class="row" id="scrolledNewsfeed">
    <div class="col-md-3 titler"style="margin:0 5px 0 0;">
        <div class="titlerHeader">
            <h3>Newsfeed</h3>
        </div>
        <form>
            <div class="lefts" align="left" style="height:500px">
                @foreach (var item in Model)
                {

                    <a href=@item.Link>@Html.Raw(item.Title);</a>

                }
            </div>
        </form>
    </div>

    <div id="my-carousel" class="carousel slide col-md-8" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @{int j = 0;}
                @foreach (var item in (IEnumerable<SpyNews>)ViewData["SpyNews"])
                {
                    j++;
                    var active = j == 1 ? "active" : "";
                    <div class="item @active">
                        <a href=@item.Link> @Html.Raw(item.Description)</a>
                    </div>
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


</div>