﻿@using UBY_NewsPortal.Models.NewsViewModels
@{
    ViewData["Title"] = "OnGetAsync";
}

<h2>OnGetAsync</h2>
<table class="table">
    @foreach (var item in (IEnumerable<News>)ViewData["News"])
    {
        if (item.Link != null)
        {

            <tr><td> <a href=@item.Link>@item.Title</a></td></tr>
            <br />
        }
        else
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    }
</table>
