﻿@*@model IEnumerable<UBY_NewsPortal.Models.NewsViewModels.MyNews>*@
@using UBY_NewsPortal.Models.NewsViewModels
@model ReflectionIT.Mvc.Paging.PagingList<UBY_NewsPortal.Models.NewsViewModels.SpyNews>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Political";
}

<h2>Political</h2>

<nav aria-label="Products navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>

            </tr>
        }
    </tbody>
    @*<tbody>
            @foreach (var item in (IEnumerable<SpyNews>)ViewData["SpyNews"])
            {
                <tr>

                    <td>
                        <a href=@item.Link> @Html.DisplayFor(modelItem => item.Title)</a>
                    </td>

                </tr>
            }
        </tbody>*@
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>