﻿
@{
    ViewData["Title"] = "Science";
}
<h2>@ViewData["Title"]</h2>


@using UBY_NewsPortal.Models.NewsViewModels
@model IndexViewModel


<table class="table">
    <tr><th>Title</th><th>Description</th></tr>
    @foreach (News u in Model.News)
    {
        if (u.Link != null)
        {

            <tr><td> <a href=@u.Link>@u.Title</a></td></tr>
        }
        else
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@u.Id">@Html.DisplayFor(modelItem => u.Title)</a>
                    <a asp-action="Details" asp-route-id="@u.Id">Details</a>
                </td>
            </tr>
        }
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="About"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="About"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
