﻿@model IEnumerable<UBY_NewsPortal.Models.NewsViewModels.MyNews>
@using UBY_NewsPortal.Models.NewsViewModels
@{
    ViewData["Title"] = "Economics";
}

<h2>Economics</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
            
        </tr>
        }
    </tbody>
    <tbody>
        @foreach (var item in (IEnumerable<SpyNews>)ViewData["SpyNews"])
        {
            <tr>
                
                <td>
                    <a href=@item.Link> @Html.DisplayFor(modelItem => item.Title)</a>
</td>
                
            </tr>
        }
    </tbody>
</table>
