﻿@model UBY_NewsPortal.Models.NewsViewModels.MyNews
@using UBY_NewsPortal.Models.NewsViewModels
@{
    ViewData["Title"] = "Create";
    ViewBag.Title = "RichTextEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Charter" class="control-label"></label>
            <select asp-for="Charter" class="form-control" asp-items="Html.GetEnumSelectList<Charter>()">></select>
            <span asp-validation-for="Charter" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PubDate" class="control-label"></label>
            <input asp-for="PubDate" class="form-control" />
            <span asp-validation-for="PubDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" rows="5" class="form-control" style="width:100%"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" rows="10" class="form-control" style="width:100%"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div id="ControlRegion">
        <ejs-richtexteditor id="defaultRTE" showCharCount="true" maxLength="2000">
            <e-content-template>
            </e-content-template>
            <e-richtexteditor-toolbarsettings items="@ViewBag.tools">
            </e-richtexteditor-toolbarsettings>
        </ejs-richtexteditor>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


