﻿
@model IEnumerable<UBY_NewsPortal.Models.ApplicationUser>
@{
    ViewBag.Title = "Список пользователей";
}

<ul class="nav nav-pills nav-stacked">
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Create New User</a></li>
</ul>
<table class="table">
    <tr><th>Email</th><th>UserName</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>

        </tr>
    }
</table>
