﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UBY_NewsPortal</title>

    <link rel="stylesheet" href="~/css/uby.css">
    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        body {
            height: 100%;
            position: relative;
            width: 100%;
            overflow-x: hidden;
        }

        .footer {
            bottom: 0;
            width: 100%;
            height: 498.359px;
        }
    </style>
<link rel="stylesheet" href="~/css/ej2/bootstrap.css" />

<script src="~/js/ej2/ej2.min.js"></script>

</head>
<body>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">UBY_NewsPortal</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Political">Political</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Sport">Sport</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Economics">Economics</a></li>

                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>*@

    <div id="topbanner">
        <!--logo-->
        <img id="logo" src="~/images/logo.png" alt="logo">
        <!--signin section-->
        @*<div id="signinDiv" class="topbarSection">
            <img id="signinImage" src="images/signin.png" alt="signin">
            <span id="signinText"> Sign in</span>
        </div>*@
        <!--others section-->
        <div class="topbarSection topbarMenu">
            <a asp-area="" asp-controller="Home" asp-action="Index">News</a>
        </div>
        
        <div class="topbarSection topbarMenu">
            <a asp-area="" asp-controller="Home" asp-action="Weather">Weather</a>
        </div>
        <div class="topbarSection topbarMenu">
            <a href="http://">Shop</a>
        </div>
        <div class="topbarSection topbarMenu">
            <a href="~/ComingSoonSpase/index.html">Earth</a>
        </div>
        <div class="topbarSection topbarMenu">
            <a asp-area="" asp-controller="Home" asp-action="Space">Space</a>
        </div>
        <div class="topbarSection topbarMenu">
            @* <a href="~/Travel.html">Travel</a>*@
            <a asp-area="" asp-controller="Home" asp-action="Travel">Travel</a>
        </div>
        <div class="topbarSection topbarMenu">
            <a href="#menu">More</a>
            <a href="#menu" style="margin-left:10px;"><i class="fa fa-sort-down" style="vertical-align:top"></i></a>
        </div>
        <!--Search section-->
        <div class="topbarSection">
           @using (Html.BeginForm("OnGetAsync", "Home"))
            {
                <form asp-controller="Home" asp-action="OnGetAsync" asp-r method="get">
                <input id="searchBar" type="search" name="SearchString" style="height: 24px; padding-top: 3px; padding-bottom: 3px;" placeholder="Search">
            </form>
            }
        </div>
        <div style="float:right; margin-right: 15px;">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    <div class="clear"></div>
    <div class="menuBarContainer2">
        <div class="container2menu home">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Armenia">Armenia</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="World">World</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Region">Region</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Artsakh">Artsakh</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Economics">Economics</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Political">Political</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Science">Science</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Culture">Culture</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Society">Society</a>
        </div>
        <div class="container2 container2menu">
            <a asp-area="" asp-controller="Home" asp-action="Sport">Sport</a>
        </div>
        
        <div class="container2 container2menu">
            <a href="#http://">More</a>
            <a href="#http://"><i class="fa fa-sort-down"></i></a>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*%div.wrap
            -300.times do
              %div.c*@
    </div>

    <hr />
    <div class="footer">
        <!-- UBY News Services -->
        <div id="UBYServices">
            <div class="UBYServices2">
                <p id="UBYServicesHeading">
                    UBY News Services
                </p>
            </div>
            <div class="UBYServices2">
                <div class="UBYSer">
                    <img src="images/bbc1.PNG" alt="">
                    <a href="http://">On your mobile</a>
                </div>
                <div class="UBYSer">
                    <img src="images/bbc2.PNG" alt="">
                    <a href="http://">On your connected tv</a>
                </div>
                <div class="UBYSer">
                    <img src="images/bbc3.PNG" alt="">
                    <a href="http://">Get news alerts</a>
                </div>
                <div class="UBYSer">
                    <img src="images/bbc4.PNG" alt="">
                    <a href="http://">Contact UBY News</a>
                </div>
            </div>
        </div>
        <!-- Explore the uby -->
        <div id="explore">
            <div class="explore2">
                <p id="exploreHeading">
                    Explore the UBY
                </p>
            </div>
            <div class="explore3">
                <a href="http://">Home</a><br>
                <a href="http://">Travel</a><br>
                <a href="http://">Radio</a><br>
                <a href="http://">Music</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">News</a><br>
                <a href="http://">Capital</a><br>
                <a href="http://">CBBC</a><br>
                <a href="http://">Arts</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Sport</a><br>
                <a href="http://">Culture</a><br>
                <a href="http://">CBeebies</a><br>
                <a href="http://">Make It Digital</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Weather</a><br>
                <a href="http://">Autos</a><br>
                <a href="http://">Food</a><br>
                <a href="http://">Taster</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Shop</a><br>
                <a href="http://">Future</a><br>
                <a href="http://">iWonder</a><br>
                <a href="http://">Nature</a>
            </div>
            <div class="explore3 explore4">
                <a href="http://">Earth</a><br>
                <a href="http://">TV</a><br>
                <a href="http://">Bitesize</a><br>
                <a href="http://">Local</a>
            </div>
            <hr id="xHr">
            <div id="fotter">
                <p>
                    <a href="http://">Terms of Use</a>
                    <a href="http://">About the UBY</a>
                    <a href="http://">Privacy Policy</a>
                    <a href="http://">Cookies</a>
                    <a href="http://">Accessibility Help</a>
                    <a href="http://">Parental Guidance</a>
                    <a href="http://">Contact the UBY</a>
                    <a href="http://">Get Personalised Newsletters</a>
                </p>
                <p>
                    <a href="http://">Advertise with us</a>
                    <a href="http://">Ad choices</a>
                </p>
                <p>
                    Copyright &copy 2017 UBY. The UBY is not responsible for the content of external sites.
                    <a href="http://">Read about our approach to external linking.</a>
                </p>
            </div>

        </div>
        <script>
            window.onscroll = function () { myFunction() };

            var navbar = document.getElementById("scrolledNewsfeed");
            var sticky = navbar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky");
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>


    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
<ejs-scripts></ejs-scripts>
</body>
</html>
