﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#UBYServices {
    width: 1350px;
    background-color: #2F2F2F;
    float: left;
}

.UBYServices2 {
    margin: 10px 0px 10px 145px;
}

#UBYServicesHeading {
    color: white;
    font-size: 22px;
}

.UBYSer {
    float: left;
    margin-bottom: 20px;
    margin-right: 105px;
}

    .UBYSer img {
        float: left;
        margin-right: 5px;
    }

    .UBYSer a {
        float: left;
        color: white;
        text-decoration: none;
        margin-top: 6px;
    }

        .UBYSer a:hover {
            text-decoration: underline;
        }

#explore {
    width: 1350px;
    background-color: #4C4C4C;
    float: left;
    border-top: 1px solid #949494;
}

.explore2 {
    margin: 10px 0px 10px 145px;
}

#exploreHeading {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.explore3 {
    margin: 10px 0px 10px 145px;
    float: left;
}

    .explore3 a {
        color: white;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        line-height: 30px;
    }

        .explore3 a:hover {
            text-decoration: underline;
        }

.explore4 {
    border-left: 1px solid #949494;
    margin-left: 110px;
}

    .explore4 a {
        margin-left: 20px;
    }

#xHr {
    width: 1050px;
    height: 1px;
    border: 0px;
    float: left;
    margin-left: 145px;
    background-color: #949494;
}

#fotter {
    float: left;
    margin-left: 145px;
    margin-top: 0px;
}

    #fotter p a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        margin-right: 22px;
    }

    #fotter p {
        color: white;
        font-size: 14px;
    }

        #fotter p a:hover {
            text-decoration: underline;
        }
/*.container {
    width: 900px;
}*/

/*.slider {
    z-index: 2;
    height: 370px;
}

.slider a {
    color: white;
}

.slider .item img {
    height: 377px;
}

.slider-list {
    z-index: -99;
    height: 370px;
    margin-left: -32px;
}

    .slider-list .list-group-item {
        height: 95px;
    }*/

        /*.slider-list .list-group-item p {
            margin-bottom: 5px;
            font-size: small;
            color: orange;
        }

    .slider-list .active {
        background-color: #ddd;
        border-color: #ccc;
        color: #333;
        border-left: 4px #f58220 solid;
    }

        .slider-list .active:hover,
        .slider-list .active:focus {
            background-color: #ddd;
            border-color: #ccc;
            color: #333;
            border-left: 4px #f58220 solid;
        }*/
