﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<ul class="nav nav-pills nav-stacked row">

    <h4>Welcome your account</h4>
    <li class="col-md-3"><a asp-area="" asp-controller="Account" asp-action="Index">Users List</a></li>
    <li class="col-md-3"><a asp-area="" asp-controller="Newsmake" asp-action="Index">Make News</a></li>
</ul>

<div>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <h4>Change your account settings</h4>
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

